body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #0f1317;
    color: white;
    padding: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin: 2rem auto;
    padding: 1rem auto;
    width: 100%;
    text-align: center;
}
#map{
    width: 85%;
    height: 50vh;
    padding: 1rem;
    margin: 2rem auto;
}

.controlPanel{
    padding: 10% ;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    background: #949098;
}
.controlPanel input, .controlPanel select{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.controlPanel button{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: #324b64;
    color: white;
    border: none;
    cursor: pointer;
}
.controlPanel button:hover{
    background: #1a1e22;
}
